*{
  margin: 0;
  padding: 0;

}
html {
    font-family: sans-serif;
    line-height: 1.15;
    background-color: #04243b;
 }

  
 .menum{
  
  transform: translateX(860px);
 }
  .cabeza {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(4, 36, 52, 0.3) 0%, rgba(4, 36, 52, 0.7) 75%, #BFDDDE 100%), url("../assets/images/LOGS.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    animation-name: banner;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: ease;
  }  
   @keyframes banner{
    0%{background-image:url(../assets/images/LOGS.jpg);}
    30%{background-image:url(../assets/images/PRUEBA.jpg);}
  }
   .contendor_de_los_h{
    
    align-items: center;
    text-align: center;
    
   }
   .contenedor_video{
     display: inline;
     box-sizing: border-box;
     border: 5px solid rgba(4, 36, 52, 0.7);
     width: 300px;
     height: 300px;
   }
    .contenedor_articles{
    display: inline-block;
    position: relative;
    left: 100px;
    box-sizing: border-box;
    border: 5px solid rgba(4, 36, 52, 0.7);
    width: 300px;
    height: 300px;
    }
   .contenedor_articles2{
    display: inline-block;
    position: relative;
    left: 500px;
    box-sizing: border-box;
    border: 5px solid rgba(4, 36, 52, 0.7);
    width: 300px;
    height: 300px;
   }   